<header>
    <div id="logobox">
      <h1 id="logo">
        <img src="/images/logo/rc-black-150.png"/>
      </h1>
    </div>
        
    <nav>
      <a href="">Home</a>
      <a href="">About Me</a>
      <a href="">Work</a>   
      <a href="">Resume</a>
      <a href="">Contact</a>
    </nav>
</header>
