<header>
    <div id="logobox">
      <h1 id="logo">
        Roger Chao
      </h1>
    </div>
        
    <nav>
      <a href="">Home</a>
      <a href="">About Me</a>
      <a href="">Work</a>   
      <a href="">Resume</a>
      <a href="">Contact</a>
    </nav>
</header>