<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_head %>
    <title>Roger Chao</title>
  </head>
  <body>
    <% include ./partials/_header %>
    Coming Soon :)
    <!--<h1><%= title %></h1>
    <p>Welcome to <%= title %></p>-->
    <% include ./partials/_footer %>
  </body>
</html>
